{% extends "layouts/layoutMenu.html" %}

{% block content %}

<div class="contenedor-layout">
    <div class="aside-izq-layout">
        <div class="perfil-usuario">
            <div class="perfil-contenido">
                <div class="perfil-foto">
                    <img src="/{{fotoPerfil[0]}}" alt="">
                </div>
                <div class="perfil-desc">
                    <strong>{{user}}</strong> 
                </div>
            </div>
            <div class="notf-post">
                {% if dataUserComt %}
                    {% for comt in range(5) %}
                        {% if dataUserComt[comt] %}
                            {% if dataUserComt[comt][2]==user %}
                            <p><a href="/Inicio#{{dataUserComt[comt][1]}}">Has comentado tu post</a></p>
                            {% else %}
                                <p><a href="#{{dataUserComt[comt][1]}}">{{dataUserComt[comt][2]}} ha comentado tu post</a></p>
                            {% endif %}
                            
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p id="sin-cont"><a href="/Inicio">Sin contenido aún</a></p> 
                {% endif %}
                
            </div>
            <div class="perfil-opciones">
                <a href="/User/{{user}}">Ir a mi perfil</a>
            </div>
        </div>
    </div>
    <div class="contenido-layout">
        {% block content_layout %}


        
        {% endblock %}
    </div>
    <div class="aside-der-layout">
        <div class="aside">
            Contenido por añadir
        </div>
    </div>
</div>

{% endblock %}