.busqueda{
    display: flex;
    align-items: flex-start;
    width: 95%;
    min-height: 100px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 15px;
}

#no-results{
    font-size: 30px;
}

@media screen and (min-width:1400px) {
    .busqueda{
        width: 750px;
    }
}

.busqueda:last-child{
    margin-bottom: 0;
}

.busqueda .foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin: 5px 10px 0 5px;
    background: var(--color-normal);
    user-select: none;
}

.busqueda .s-content{
    width: calc(100% - 105px);
    height: 100%;
}

.busqueda .s-content #user{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 3px;
    font-size: 20px;
    padding-top: 5px;
}

.busqueda .s-content #user a{
    text-decoration: none;
    color: #00000d;
}

.busqueda .s-content .desc{
    width: 100%;
    height: calc(100% - 45px);
}

.busqueda .s-content .desc p{
    width: 95%;
    min-height: 25px;
    margin-bottom: 5px;
    font-size: 15px;
    background: var(--color-undefined);
}

.busqueda .s-content .desc div{
    width: 90%;
    height: 10px;
    background: var(--color-undefined);
}
