.post{
    width: 70%;
    min-height: 130px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: var(--box-shadow);
}

.post:last-child{
    margin-bottom: 0;
}

.post .info{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 5px;
    box-sizing: border-box;
}

.post .info .foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    margin-right: 10px;
    background: var(--color-normal);
    user-select: none;
}

.post .info .desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    height: 100%;
}

.post .info .desc .user-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 150px;
    height: 100%;
}

.post .info .desc .user-date a{
    color: #00000d;
    text-decoration: none;
}

.post .info .desc .op-button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50px;
    height: 100%;
    font-size: 25px;
}

.post .info .desc .op-button a{
    color: #00000d;
    text-decoration: none;
}

.post .info .desc .op-button i{
    cursor: pointer;
}

.post .info .desc .op-button .op-menu{
    display: none;
    position: absolute;
    width: 150px;
    height: 60px;
    right: 0;
    background: #fff;
    box-shadow: var(--box-shadow);
    transform: translateY(60%);
    font-size: 15px;
    user-select: none;
}

.post .info .desc .op-button .op-menu.active{
    display: block;
}

.post .info .desc .op-button .op-menu p{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0 3px;
    box-sizing: border-box;
}

.post .info .desc .op-button .op-menu p:hover{
    background: var(--color-undefined);
}

.post .info .desc .op-button .op-menu p a{
    color: #00000d;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.post .mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30px;
    padding: 0 10px 0 5px;
    box-sizing: border-box;
}

.post .mensaje .msg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
}

.post .mensaje .msg p{
    display: block;
    width: 100%;
}

.post .imagen{
    width: 100%;
    max-height: 250px;
    padding: 0 5px 5px;
    box-sizing: border-box;
}

.post .imagen .img-post{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #584F5D;
    background: -webkit-radial-gradient(top left, #584F5D, #02C569);
    background: -moz-radial-gradient(top left, #584F5D, #02C569);
    background: radial-gradient(to bottom right, #584F5D, #02C569);
}

.post .imagen .img-post img{
    max-width: 100%;
    max-height: 250px;
    object-fit:contain;
}

.post .comentarios{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    min-height: 30px;
    padding: 0 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.post .comentarios .comt-msgs{
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid var(--color-undefined);
}

.post .comentarios .comt-msgs.active{
    display: flex;
}

.post .comentarios .comt-msgs a{
    text-decoration: none;
    color: #00000d;
}

.post .comentarios .comt-msgs .comt-msg{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.post .comentarios .comt-msgs .comt-msg .cont-etdt-comt{
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.post .comentarios .comt-msgs .comt-msg .cont-etdt-comt button{
    outline: none;
    width: 25px;
    height: 30px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.post .comentarios .comt-msgs .comt-msg .txta-comt{
    width: 98%;
    height: 35px;
}

.post .comentarios .comt-msgs .comt-msg .txta-comt input[type="text"]{
    outline: none;
    border: 1px solid #00000d;
    background: none;
    width: calc(100% - 120px);
    height: 30px;
    padding: 0 3px;
    box-sizing: border-box;
}

.post .comentarios .comt-msgs .comt-msg .txta-comt input[type="submit"],
.post .comentarios .comt-msgs .comt-msg .txta-comt button{
    width: 55px;
    height: 30px;
    border: 1px solid #00000d;
    outline: none;
    background: none;
}

.post .comentarios .comt-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    user-select: none;
    padding: 0 5px;
    box-sizing: border-box;
}

.post .comentarios .comt-btn form{
    display: flex;
    opacity: 0;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 150px);
    height: 100%;
    pointer-events: none;
}

.post .comentarios .comt-btn.active form{
    pointer-events: all;
    opacity: 1;
}

.post .comentarios .comt-btn form input[type="text"]{
    outline: none;
    border: none;
    border-bottom: 1px solid #00000d;
    width: 0;
    height: 20px;
}

.post .comentarios .comt-btn.active form input[type="text"]{
    width: calc(100% - 25px);
    transition: width .4s ease;
}

.post .comentarios .comt-btn.active form label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 100%;
    font-size: 25px;
}

.post .comentarios .comt-btn .btn-comt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    cursor: pointer;
}

.cont-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.cont-up textarea{
    position: relative;
    outline: none;
    border: 1px solid #00000d;
    width: 100%;
    height: 220px;
    resize: none;
    padding: 10px 5px;
    box-sizing: border-box;
}

.cont-up textarea::-webkit-scrollbar{
    background: #fff;
}

.cont-up textarea::-webkit-scrollbar-thumb{
    background: #fff;
    border: 1px solid #00000d;
    box-sizing: border-box;
}

.cont-up .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.cont-up .info .img,
.cont-up .info .vid{
    display: none;
    max-width: 100%;
    height: 220px;
    border: 1px solid #00000d;
    margin: 3px;
    object-fit:cover;
}

.cont-up .info .img.active,
.cont-up .info .vid.active{
    display: block;
}

.cont-up .cont{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.cont-up .cont input[type="file"]{
    display: none;
}

.cont-up .cont i{
    width: 35px;
    height: 100%;
    font-size: 35px;
    vertical-align: middle;
}

.cont-up .cont input[type="submit"]{
    position: absolute;
    right: 0;
    width: 100px;
    height: 31px;
    border: 1px solid #00000d;
    background:none;
}

.cont-uploaded{
    width: 350px;
    min-height: 400px;
}

.cont-uploaded .text{
    width: 100%;
    min-height: 100px;
    font-size: 20px;
}

.cont-uploaded img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.busqueda.s{
    width: 70%;
}

@media screen and (min-width:1400px) {
    .post,
    .cont-up,
    .busqueda.s{
        width: 450px;
    }
}

@media screen and (max-width:970px) {
    .post,
    .cont-up,
    .busqueda.s{
        width: 80%;
    }
}

@media screen and (max-width:870px) {
    .post,
    .cont-up,
    .busqueda.s{
        width: 90%;
    }
}

@media screen and (max-width:770px) {
    .post,
    .cont-up,
    .busqueda.s{
        width: 95%;
    }
}

@media screen and (max-width:650px) {
    .post,
    .cont-up,
    .busqueda.s{
        width: 90%;
    }
}