{% extends "dash.html" %}

{% block postEdit %}

<div class="dash-content-item active">
    {% if dataPost!='None' %}
    {% set post = dataPost %}
    {% include 'layouts/post/post.html' %}
    {% else %}
    Post no encontrado, ingresa un ID válido
    {% endif %}
</div>

{% endblock %}

{% block comtEdit %}
<div class="dash-content-item">
    {% if dataComt %}
    {% for comt in dataComt %}
    <div class="comt-msg comt">
        <div class="cont-etdt-comt">
            {% if user==comt[2] or rol!='USUARIO' %}
            <button class="action-btn-comt edit-comt">
                <i class='bx bxs-message-edit'></i>
            </button>
            {% endif %}
            <button class="action-btn-comt delt-comt">
                <a href="/Post/Comentario/Delete/{{comt[0]}}">
                    <i class='bx bxs-message-x'></i>
                </a>
            </button>
        </div>
        <div class="content-comt">
            <p id="user"><strong><a href="/User/{{comt[2]}}">{{comt[2]}}</a></strong></p>
            <p {% if user==comt[2] or rol!='USUARIO' %} class="comt-post editar-comt-post" {% else %} class="comt-post" {% endif %} style="margin-left: 5px;">{{comt[3]}}</p>
            {% if user==comt[2] or rol!='USUARIO' %}
            <form action="/Post/Comentario/Edit" method="post" class="txta-comt" style="display: none;">
                <input type="text" name="id_post" value="{{comt[1]}}" style="display: none;" spellcheck="false" autocomplete="off">
                <input type="text" name="id-comt-post" value="{{comt[0]}}" style="display: none;" spellcheck="false" autocomplete="off">
                <input type="text" name="post-comt-edit" maxlength="100" value="{{comt[3]}}" spellcheck="false" autocomplete="off">
                <button class="btn-can-comt">Cancelar</button>
                <input type="submit" value="Guardar">
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    Post no encontrado, ingresa un ID válido
    {% endif %}
</div>
{% endblock %}