{% extends "dash.html" %}

{% block postEdit %}
{% if dataUser=='None' %}
<div class="dash-content-item active">
    Usuario no encontrado
</div>
{% else %}
<div class="dash-content-item active">
    {% if dataPost!='None' %}
    {% for post in dataPost %}
    {% include 'layouts/post/post.html' %}
    {% endfor %}
    {% else %}
    Usuario sin contenido aún
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block comtEdit %}
<div class="dash-content-item">
    {% if dataComt %}
    {% for comt in dataComt %}
    <div class="comt-msg comt">
        <div class="cont-etdt-comt">
            {% if user==comt[2] or rol!='USUARIO' %}
            <button class="action-btn-comt edit-comt">
                <i class='bx bxs-message-edit'></i>
            </button>
            {% endif %}
            <button class="action-btn-comt delt-comt">
                <a href="/Post/Comentario/Delete/{{comt[0]}}">
                    <i class='bx bxs-message-x'></i>
                </a>
            </button>
        </div>
        <div class="content-comt">
            <p id="user"><strong><a href="/User/{{comt[2]}}">{{comt[2]}}</a></strong></p>
            <p {% if user==comt[2] or rol!='USUARIO' %} class="comt-post editar-comt-post" {% else %} class="comt-post" {% endif %} style="margin-left: 5px;">{{comt[3]}}</p>
            {% if user==comt[2] or rol!='USUARIO' %}
            <form action="/Post/Comentario/Edit" method="post" class="txta-comt" style="display: none;">
                <input type="text" name="id_post" value="{{comt[1]}}" style="display: none;" spellcheck="false" autocomplete="off">
                <input type="text" name="id-comt-post" value="{{comt[0]}}" style="display: none;" spellcheck="false" autocomplete="off">
                <input type="text" name="post-comt-edit" maxlength="100" value="{{comt[3]}}" spellcheck="false" autocomplete="off">
                <button class="btn-can-comt">Cancelar</button>
                <input type="submit" value="Guardar">
            </form>
            {% endif %}
        </div>
        
    </div>
    {% endfor %}
    {% else %}
    Sin Comentarios
    {% endif %}
</div>
{% endblock %}

{% block userEdit %}
<div class="dash-content-item">
    {% if dataUser!='None' %}
    <div class="busqueda">
        <div class="foto">
            <img src="/{{dataUser[3]}}" alt="" style="width: 100%; height: 100%; object-fit: cover; border-radius: 100px;">
        </div>
        <div class="s-content" id="cont-busq">
            <p id="user"><strong><a href="/User/{{dataUser[0]}}">{{dataUser[0]}}</a></strong></p>
            <div class="desc">
                <p>{{dataUser[1]}}</p>
                <div></div>
            </div>
        </div>
        <p style="position: absolute; top: 5px; right:5px;"><strong>ROL {{dataUser[2]}}</strong></p>
        <i class="fas fa-edit button-user-dash"></i>
        <div class="opciones-dash">
            <div><a href="/User/{{dataUser[0]}}">Editar usuario</a></div>
            <div><a href="/User/{{dataUser[0]}}/Delete">Eliminar usuario</a></div>
        </div>
    </div>
    {% else %}
    Usuario no encontrado
    {% endif %}
</div>
{% endblock %}

{% block asigEdit %}
<div class="dash-content-item">
    {% if dataUser!='None' %}
    <div class="busqueda">
        <div class="foto">
            <img src="/{{dataUser[3]}}" alt="" style="width: 100%; height: 100%; object-fit: cover; border-radius: 100px;">
        </div>
        <div class="s-content" id="cont-busq">
            <p id="user"><strong><a href="/User/{{dataUser[0]}}">{{dataUser[0]}}</a></strong></p>
            <div class="desc">
                <p>{{dataUser[1]}}</p>
                <div></div>
            </div>
        </div>
        <p style="position: absolute; top: 5px; right:5px;"><strong>ROL {{dataUser[2]}}</strong></p>
        <i class="fas fa-user-shield button-user-dash"></i>
        <div class="opciones-dash">
            <form action="/Dash/User/Rol/USUARIO" method="POST" id="formRol">
                <input type="text" name="user" id="user" style="display: none;" value="{{dataUser[0]}}" spellcheck="false" autocomplete="off">
                {% if dataUser[2]!='USUARIO' %}
                <button class="button-form-rol" value="USUARIO" onclick="user()">Cambiar rol a usuario</button> 
                {% endif %}
                {% if dataUser[2]!='ADMINISTRADOR' %}
                <button class="button-form-rol" value="ADMINISTRADOR" onclick="admin()">Cambiar rol a administrador</button> 
                {% endif %}
                {% if dataUser[2]!='SUPERADMINISTRADOR' %}
                <button class="button-form-rol" value="SUPERADMINISTRADOR" onclick="superadmin()">Cambiar rol a superadmin</button> 
                {% endif %}
            </form>
        </div>
    </div>
    {% else %}
    Usuario no encontrado
    {% endif %}
</div>
{% endblock %}
