{% extends "dash.html" %}

{% block postEdit %}
{% if dataUser=='None' %}
<div class="dash-content-item active">
    Usuario no encontrado
</div>
{% else %}
<div class="dash-content-item active">
    {% if dataPost!='None' %}
    {% for post in dataPost %}
    {% include 'layouts/post/post.html' %}
    {% endfor %}
    {% else %}
    Usuario sin contenido aún
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block comtEdit %}
{% if dataUser=='None' %}
<div class="dash-content-item">
    Usuario no encontrado
</div>
{% else %}
<div class="dash-content-item">
    {% for comt in dataComt %}
    <div class="busqueda">
        <div class="foto">
            <p>Foto</p>
        </div>
        <div class="s-content">
            <p id="user"><strong><a href="/User/{{comt[2]}}">{{comt[2]}}</a></strong></p>
            <p id="ver-post"><strong>Post de {{comt[4]}}</strong> <a href="/Inicio#{{comt[1]}}">Ver post</a></p>
            <div class="desc" id="comt-dash">
                <p>{{comt[3]}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block userEdit %}
<div class="dash-content-item">
    {% if dataUser!='None' %}
    <div class="busqueda">
        <div class="foto">
            <p>Foto</p>
        </div>
        <div class="s-content" id="cont-busq">
            <p id="user"><strong>{{dataUser[0]}}</strong></p>
            <div class="desc">
                <p>{{dataUser[1]}}</p>
                <div></div>
            </div>
        </div>
        <i class="fas fa-edit button-user-dash"></i>
        <div class="opciones-dash">
            <div><a href="/User/{{dataUser[0]}}">Editar usuario</a></div>
            <div><a href="/User/{{dataUser[0]}}/Delete">Eliminar usuario</a></div>
        </div>
    </div>
    {% else %}
    Usuario no encontrado
    {% endif %}
</div>
{% endblock %}

{% block asigEdit %}
<div class="dash-content-item">
    {% if dataUser!='None' %}
    <div class="busqueda">
        <div class="foto">
            <p>Foto</p>
        </div>
        <div class="s-content" id="cont-busq">
            <p id="user"><strong>{{dataUser[0]}}</strong></p>
            <div class="desc">
                <p>{{dataUser[1]}}</p>
                <div></div>
            </div>
        </div>
        <i class="fas fa-user-shield button-user-dash"></i>
        <div class="opciones-dash">
            <form action="/Dash/User/Rol/USUARIO" method="POST" id="formRol">
                <input type="text" name="user" id="user" style="display: none;" value="{{dataUser[0]}}">
                {% if dataUser[2]!='USUARIO' %}
                <button class="button-form-rol" value="USUARIO" onclick="user()">Cambiar rol a usuario</button> 
                {% endif %}
                {% if dataUser[2]!='ADMINISTRADOR' %}
                <button class="button-form-rol" value="ADMINISTRADOR" onclick="admin()">Cambiar rol a administrador</button> 
                {% endif %}
                {% if dataUser[2]!='SUPERADMINISTRADOR' %}
                <button class="button-form-rol" value="SUPERADMINISTRADOR" onclick="superadmin()">Cambiar rol a superadmin</button> 
                {% endif %}
            </form>
        </div>
    </div>
    {% else %}
    Usuario no encontrado
    {% endif %}
</div>
{% endblock %}