{% extends "dash.html" %}

{% block postEdit %}

<div class="dash-content-item active">
{% if dataPost!='None' %}
{% set post = dataPost %}
<div class="post">
    <div class="info">
        <div class="foto">
            <p>Foto</p>
        </div>
        <div class="desc">
            <div class="user-date">
                <p><strong>{{post[1]}}</strong></p>
                <p>{{post[2]}}</p>
            </div>
            {% if rol!="USUARIO" or user==post[1] %}
            <div class="op-button">
                <i class="fas fa-ellipsis-h"></i>
                <div class="op-menu">
                    <p><a href="/Post/Edit/{{post[1]}}/{{post[0]}}">Editar publicación</a></p>
                    <p><a href="/Post/Delete/{{post[1]}}/{{post[0]}}">Eliminar publicación</a></p>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="mensaje">
        <p class="msg">
            {% set mensage = post[3].split('\n') %}
            {% for msg in mensage %}
                {{msg}}<br>
            {% endfor %}
        </p>
    </div>
    {% if post[4]!='None' %}
        <div class="imagen">
            <div class="img-post"><img src="/{{post[4]}}" alt=""></div>
        </div>
    {% endif %}
    
    <div class="comentarios">
        <i class="fas fa-comment"></i>
        <p><strong>Comentarios (0)</strong></p>
    </div>
</div>
{% else %}
Post no encontrado, ingresa un ID válido
{% endif %}
</div>

{% endblock %}