{% extends "layouts/layoutMenu.html" %}

{% block title %} Dashboard {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_front.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style_search.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style_dash.css')}}">
{% endblock %}

{% block content %}
<div class="contenedor-dashboard">
    <div class="dash-bar">
        <i class='bx bxs-arrow-from-left'></i>
        <i class='bx bxs-x-circle'></i>
    </div>
    <div class="dash-menu">
        <div class="logo">
            <a href="/Dash"><strong>DASHBOARD</strong></a>
        </div>
        <ul class="dash-opc">
            <p><strong>Publicaciones</strong></p>
            <li class="dash-item select"><i class="fas fa-edit"></i>Posts</li>
            <li class="dash-item"><i class='bx bxs-message-edit'></i>Comentarios</li>
            {% if rol=='SUPERADMINISTRADOR' or rol=='ADMINISTRADOR' %}
            <p>
                <strong>
                    {% if rol=='ADMINISTRADOR' %}
                    Usuarios
                    {% elif rol=='SUPERADMINISTRADOR' %}
                    Permisos, roles y usuarios
                    {% endif %}
                </strong>
            </p>
            <li class="dash-item"><i class="fas fa-user-edit"></i>Usuario</li>
            {% endif %}
            {% if rol=='SUPERADMINISTRADOR' %}
            <li class="dash-item"><i class="fas fa-user-cog"></i>Asignar roles</li>
            {% endif %}
        </ul>
    </div>
    <div class="dash-content">
        {% if rol!='USUARIO' %}
        <form action="" class="pr-form" method="GET" id="dashConsulta" onsubmit="actionSelect()">
            <select class="select-dash" name="" id="" style="display: none;">
                <option class="option-dash" value="post" selected="selected">post</option>
                <option class="option-dash" value="comt">comt</option>
                {% if rol!='USUARIO' %}
                <option class="option-dash" value="user">user</option>
                {% endif %}
                {% if rol=='SUPERADMINISTRADOR' %}
                <option class="option-dash" value="asig">asig</option>
                {% endif %}
            </select>
            <input type="search" name="consulta" id="consulta" spellcheck="false" autocomplete="off" placeholder="Ingresa el id de un post para modificarlo">
            <input type="submit" value="Buscar" id="buttonDashSelect">
        </form>
        {% endif %}
        {% block postEdit %}
        <div class="dash-content-item active">
            {% if dataPost %}
            {% for post in dataPost %}
            {% include 'layouts/post/post.html' %}
            {% endfor %}
            {% else %}
            Sin posts aún.
            {% endif %}
        </div>
        {% endblock %}

        {% block comtEdit %}
        <div class="dash-content-item">
            {% if dataComt %}
            {% for comt in dataComt %}
            <div class="comt-msg comt">
                <div class="cont-etdt-comt">
                    {% if user==comt[2] or rol!='USUARIO' %}
                    <button class="action-btn-comt edit-comt">
                        <i class='bx bxs-message-edit'></i>
                    </button>
                    {% endif %}
                    <button class="action-btn-comt delt-comt">
                        <a href="/Post/Comentario/Delete/{{comt[0]}}">
                            <i class='bx bxs-message-x'></i>
                        </a>
                    </button>
                </div>
                <div class="content-comt">
                    <p id="user"><strong><a href="/User/{{comt[2]}}">{{comt[2]}}</a></strong></p>
                    <p {% if user==comt[2] or rol!='USUARIO' %} class="comt-post editar-comt-post" {% else %} class="comt-post" {% endif %} style="margin-left: 5px;">{{comt[3]}}</p>
                    {% if user==comt[2] or rol!='USUARIO' %}
                    <form action="/Post/Comentario/Edit" method="post" class="txta-comt" style="display: none;">
                        <input type="text" name="id_post" value="{{comt[1]}}" style="display: none;" spellcheck="false" autocomplete="off">
                        <input type="text" name="id-comt-post" value="{{comt[0]}}" style="display: none;" spellcheck="false" autocomplete="off">
                        <input type="text" name="post-comt-edit" maxlength="100" value="{{comt[3]}}" spellcheck="false" autocomplete="off">
                        <button class="btn-can-comt">Cancelar</button>
                        <input type="submit" value="Guardar">
                    </form>
                    {% endif %}
                </div>
                
            </div>
            {% endfor %}
            {% else %}
            Sin Comentarios
            {% endif %}
        </div>
        {% endblock %}

        {% if rol!='USUARIO' %}
        {% block userEdit %}
        <div class="dash-content-item">
            Sin contenido aún, ingresa un Username para poder editarlo
        </div>
        {% endblock %}
        {% endif %}

        {% if rol=='SUPERADMINISTRADOR' %}
        {% block asigEdit %}
        <div class="dash-content-item">
            Sin contenido aún, ingresa un Username para modificarlo
        </div>
        {% endblock %}
        {% endif %}
    </div>
</div>

{% endblock %}
