{% extends "layouts/layoutFront.html" %}

{% block title %} Inicio {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_front.css')}} ">
{% endblock %}

{% block content_layout %}

<form action="/Post" method="POST" enctype="multipart/form-data" class="cont-up">
    <textarea name="text" id="text" placeholder="Sube algo interesante, ¡Adelante!" spellcheck="false" autocomplete="off"></textarea>
    <div class="info">
        <img id="imgs" class="img">
        <video id="vids" class="vid"></video>
    </div>
    <div class="cont">
        <label for="fileImg" class="subir" id="buttonFile">
            <i class='bx bxs-image-add'></i>
        </label>
        <input id="fileImg" name="fileImg" multiple
            accept=".png, .jpeg, .jpg, .bmp, .ico, .svg, .webp, .gif, .psd, .heic, .nef, .crw, .ai, .id"
            onchange='file_img()' type="file" />
        <label for="fileVid" class="subir" style="display: none;">
            <i class='bx bxs-video'></i>
        </label>
        <input id="fileVid" name="fileVid" multiple accept=".avi, .mp4, .divx,.mov, ,mpg, .mkv, .wmv, .wpl, .webm"
            onchange='file_vid()' type="file" />
        <input type="submit" value="Publicar">
    </div>
</form>

{% for post in dataPost %}

{% include 'layouts/post/post.html' %}

{% endfor %}

{% endblock %}