{% extends "layouts/layoutFront.html" %}

{% block title %} Inicio {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_front.css')}} ">
{% endblock %}

{% block content_layout %}

<form action="/Post" method="POST" enctype="multipart/form-data" class="cont-up">
    <textarea name="text" id="text"></textarea>
    <div class="info">
        <img id="imgs" class="img">
        <video id="vids" class="vid"></video>
    </div>
    <div class="cont">
        <label for="fileImg" class="subir" id="buttonFile">
            <i class='bx bxs-image-add'></i>
        </label>
        <input id="fileImg" name="fileImg" multiple
            accept=".png, .jpeg, .jpg, .bmp, .ico, .svg, .webp, .gif, .psd, .heic, .nef, .crw, .ai, .id"
            onchange='file_img()' type="file" />
        <label for="fileVid" class="subir" style="display: none;">
            <i class='bx bxs-video'></i>
        </label>
        <input id="fileVid" name="fileVid" multiple accept=".avi, .mp4, .divx,.mov, ,mpg, .mkv, .wmv, .wpl, .webm"
            onchange='file_vid()' type="file" />
        <input type="submit" value="Publicar">
    </div>
</form>

{% for post in dataPost %}

<div class="post">
    <div class="info">
        <div class="foto">
            <p>Foto</p>
        </div>
        <div class="desc">
            <div class="user-date">
                <p><strong>{{post[1]}}</strong></p>
                <p>{{post[2]}}</p>
            </div>
            {% if rol!="USUARIO" or user==post[1] %}
            <div class="op-button">
                <i class="fas fa-ellipsis-h"></i>
                <div class="op-menu">
                    <p><a href="/Post/Edit/{{post[1]}}/{{post[0]}}">Editar publicación</a></p>
                    <p><a href="/Post/Delete/{{post[1]}}/{{post[0]}}">Eliminar publicación</a></p>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="mensaje">
        <p class="msg">
            {% set mensage = post[3].split('\n') %}
            {% for msg in mensage %}
                {{msg}}<br>
            {% endfor %}
        </p>
    </div>
    {% if post[4]!='None' %}
        <div class="imagen">
            <div class="img-post"><img src="{{post[4]}}" alt=""></div>
        </div>
    {% endif %}
    
    <div class="comentarios">
        <i class="fas fa-comment"></i>
        <p><strong>Comentarios (0)</strong></p>
    </div>
</div>

{% endfor %}

{% endblock %}
