<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Psittacula Krameri - Login</title>
</head>
<body>
    <div class="contenedor-login">
        <div class="login">
            <div class="head">
                <h1>Social Psittacula Krameri</h1>
                <p>¡Inicia sesión!</p>
            </div>
            <form action="/Login" method="POST">
                <input type="text" placeholder="Usuario" id="user" name="user" required>
                <input type="password" placeholder="Contraseña" id="pass" name="pass" required>
                <input type="submit" value="Iniciar sesión">
            </form>
            <div class="foot">
                <div class="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <p>¿No tienes cuenta aún? <a href="/SignUp">Crea una</a></p>
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>