<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static',filename='img/logo_pttk.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Registrate!</title>
</head>
<body>
    <div class="contenedor-sign">
        <div class="sign">
            <div class="head">
                <h1>Social Psittacula Krameri</h1>
                <p>¡Registrate!</p>
            </div>
            <form action="/Signup" method="POST">
                <input type="email" placeholder="Email" name="email" id="email" required>
                <input type="text" placeholder="Usuario" name="user" id="user" maxlength="15"  required>
                <input type="password" placeholder="Contraseña" name="pass" id="pass" required>
                <input type="submit" value="Registrar">
            </form>
            <div class="foot">
                <div class="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                                {% for msg in messages %}
                                    {{ msg }}
                                {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <p id="term">Al registrarte, aceptas nuestras Condiciones, la Política de datos y la Política de cookies.</p>
                <p>¿Ya tienes cuenta? <a href="/">Entrar</a></p>
            </div>
        </div>
    </div>
</body>
</html>