<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>

<body>
  <div class="registro-container">
    <form action="" method="post" name="formRegistro" onSubmit="validar_formulario();">
      <div class="head">
        <h1 name="nombre">Psittacula krameri social</h1>
        <h3>Regístrate para ver tus fotos preferidas</h3>
      </div>
      <div class="entradas">

        <label for="email"></label>
        <input type="text" id="email" name="email" maxlength="100" placeholder="Email"><br>

        <label for="user"></label>
        <input type="text" id="user" name="user" placeholder="Usuario"><br>

        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Contraseña">

      </div>
      <div>
        <footer class="condiciones">
          <input type="checkbox" name="condiciones"> Declaro haber leido y
          acepto las condiciones generales del programa y la normativa sobre
          protección de datos
      </div>
      <div class="registro" >
        <button type="submit" value="Registrar" >Registrarse</button>
      </div>
    </form>

  </div>
  <script
    src="{{url_for('static',filename='validacion.js')}}"></script>


</body>

</html>