{% extends "layouts/layoutFront.html" %}

{% block title %} Search {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_search.css')}}">
{% endblock %}

{% block content_layout %}

<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>
<div class="busqueda">
    <div class="foto">
        <p>Foto</p>
    </div>
    <div class="s-content">
        <p id="user"><strong>Username</strong></p>
        <div class="desc">
            <p>Descripción</p>
            <div></div>
        </div>
    </div>
</div>

{% endblock %}
