{% extends "layouts/layoutFront.html" %}

{% block title %} Search {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_search.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style_front.css')}}">
{% endblock %}

{% block content_layout %}

{% if busqueda or posts %}

{% for user in busqueda %}
<div class="busqueda s">
    <div class="foto">
        <img src="/{{user[2]}}" alt="">
    </div>
    <div class="s-content">
        <p id="user"><strong><a href="/User/{{user[0]}}">{{user[0]}}</a></strong></p>
        <div class="desc">
            <p>{{user[1]}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% for post in posts %}
{% include 'layouts/post/post.html' %}
{% endfor %}
{% else %}
<i class="fas fa-search" style="font-size: 100px;"></i>
<p id="no-results">Sin resultados encontrados</p>
{% endif %}

{% endblock %}