{% extends "layouts/layoutMenu.html" %}

{% block title %}{{user}}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_user.css')}}">
{% endblock %}

{% block content %}
<div class="contenedor-user">
    <div class="vista-perfil">
        <div class="perfil">
            <div class="foto">
                <p>FOTO</p>
            </div>
            <div class="user">{{username}}</div>
            <div class="desc">
                <p>{{dataUser['descripcion']}}</p>
            </div>
        </div>
        <ul class="user-menu">
            <li class="item-user select">
                <p><i class="fas fa-user-edit"></i>Perfil</p>
            </li>
            <li class="item-user fotos">
                <p>
                    <i class="fas fa-portrait"></i>
                    {% if username==user %}
                    Mis fotos
                    {% else %}
                    Fotos
                    {% endif %}
                </p>
            </li>
        </ul>
    </div>
    <div class="contenido">
        {% include 'layouts/user/userEdit.html' %}
        {% if username==user %}
        {% endif %}
        <div class="content-user">
            <ul class="user-galery">
                {% set cantFotos = 0 %}
                {% for img in dataFotos %}
                    {% if img[0]!='None' %}
                        <li class="user-galery-foto">
                            <img src="/{{img[0]}}">
                        </li>
                    {% else %}
                    {% set cantFotos = cantFotos + 1 %}
                    {% endif %}
                {% endfor %}
                {% if cantFotos==dataFotoslen %}
                ESTE USUARIO NO TIENE FOTOS
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
