{% extends "layouts/layoutMenu.html" %}

{% block title %}{{user}}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_user.css')}}">
{% endblock %}

{% block content %}
<div class="contenedor-user">
    <div class="vista-perfil">
        <div class="perfil">
            <div class="foto">
                <p>FOTO</p>
            </div>
            <div class="user">{{username}}</div>
            <div class="desc">
                <p>Descripción...</p>
                <div></div>
                <div></div>
            </div>
        </div>
        <ul class="user-menu" >
            <li class="item-user select">
                <p><i class="fas fa-user"></i>Perfil</p>
            </li>
            {% if username==user %}
            <li class="item-user">
                <p><i class="fas fa-user-edit"></i>Editar perfil</p>
            </li>
            <li class="item-user">
                <p><i class="fas fa-comment-alt"></i>Ver mensajes</p>
            </li>
            {% endif %}
            <li class="item-user">
                <p>
                    <i class="fas fa-portrait"></i>
                    {% if username==user %}
                        Mis fotos
                    {% else %}
                        Fotos
                    {% endif %}
            </p>
            </li>
        </ul>
    </div>
    <div class="contenido">
        <div class="content-user active">CONTENIDO PERFIL</div>
        {% if username==user %}
        <div class="content-user">
            <div class="foto-user">FOTO<i class="fas fa-pen"></i></div>
            <div class="desc-user">
                <div>Descripción <i class="fas fa-pen"></i></div>
                <div></div>
            </div>
            <div class="info-user">
                <div>
                    <p><strong>Username: </strong>xxxxxxxxx <i class="fas fa-pen"></i></p>
                    <p><strong>País: </strong>xxxxxxxxx <i class="fas fa-pen"></i></p>
                    <p><strong>Ciudad: </strong>xxxxxxxxx <i class="fas fa-pen"></i></p>
                </div>
                <div>
                    <p><strong>Teléfono: </strong>xxxxxxx <i class="fas fa-pen"></i></p>
                    <p><strong>Correo: </strong>xxxxxxx <i class="fas fa-pen"></i></p>
                    <p><strong>Contraseña: </strong>xxxxxxx <i class="fas fa-pen"></i></p>
                </div>
            </div>
        </div>
        <div class="content-user">
            <div class="chats">
                <div class="user-chats">
                    <div class="user-chat-n select">CHAT 1</div>
                    <div class="user-chat-n">CHAT 2</div>
                    <div class="user-chat-n">CHAT 3</div>
                    <div class="user-chat-n">CHAT 4</div>
                    <div class="user-chat-n">CHAT 5</div>
                </div>
                <div class="contenido-chats">
                    <div class="cont-chat-n active">
                        <i class="fas fa-arrow-left" id="back"></i>
                        CHAT 1
                    </div>
                    <div class="cont-chat-n">
                        <i class="fas fa-arrow-left" id="back"></i>
                        CHAT 2
                    </div>
                    <div class="cont-chat-n">
                        <i class="fas fa-arrow-left" id="back"></i>
                        CHAT 3
                    </div>
                    <div class="cont-chat-n">
                        <i class="fas fa-arrow-left" id="back"></i>
                        CHAT 4
                    </div>
                    <div class="cont-chat-n">
                        <i class="fas fa-arrow-left" id="back"></i>
                        CHAT 5
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="content-user">
            <ul class="user-galery">
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
                <li class="user-galery-foto">FOTO</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
